.container {
    margin-bottom: 10px;
    padding: 5px;
    width: 260px;

    border: 1px solid black;
    border-radius: 8px;
    margin: 0 auto;
}

.label {
    display: block;
}

.input {
    width: 250px;
}